@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Yanone+Kaffeesatz:wght@500&display=swap');
::before,
::after
{
    box-sizing: border-box;
}

body{
  margin: auto;
  width: 1750px;
  height: 2150px;
  background-color: #F5F5F5;
  -webkit-box-shadow: -5px 4px 20px 6px #000000; 
  box-shadow: -5px 4px 20px 6px black;
  border-radius: 20px 20px 0 0;
}

p{
  position: relative;
  font-family: 'Yannone Kaffeesatz', sans-serif;
  font-size: 16px;
  font-weight: bold;
  bottom: 3250px;
  left: 50px;
}