.specs{
    background-color: #f6f6f6;
    border: black solid 2px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -5px 4px 20px 6px #000000; 
    box-shadow: -5px 4px 20px 6px black;
    position: relative;
    width: 315px;
    height: 939px;
    left: 1388px;
    bottom: 3875px;
    textarea{
        border: solid black 3px;
        margin-left: 10px;
        resize: none;
    }
    h3{
        font-size: 22px;
        margin-left: 16px;
        font-family: 'Yanone Kafeesat', sans-serif;
        letter-spacing: 2px;
    }
}