.skills{
    // border: red solid 3px;
    position: fixed;
    height: 900px;
    left: 262px;
    width: 400px;
    bottom: -240px;
    background-color: #f6f6f6;
    border: solid 2px black;
    border-radius: 10px 10px 10px 10px ;
    -webkit-box-shadow: -5px 4px 20px 6px #000000; 
    box-shadow: -5px 4px 20px 6px black;
    ol{
       padding: 0;
       margin-left: 23px;
    }
   input{
        height: 150px;
        width: 350px;
        border-radius: 8px 8px 8px 8px;
        border: solid black 3px;
    }
    .title-skill{
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Yanone Kaffeesat';
    }
}