.skills{
    // border: red solid 3px;
    position: relative;
    height: 800px;
    left: 262px;
    top: -850px;
    width: 400px;
    background-color: #f6f6f6;
    border: solid 2px black;
    border-radius: 10px 10px 10px 10px ;
    -webkit-box-shadow: -5px 4px 20px 6px #000000; 
    box-shadow: -5px 4px 20px 6px black;
    ol{
       padding: 0;
       margin-left: 23px;
    }
.skill-1{
    margin-bottom: 28px;
}
    .title-skill{
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Yanone Kaffeesat';
    }
}