.skills{
    position: relative;
    height: 940px;
    left: 190px;
    top: -850px;
    width: 460px;
    background-color: #f6f6f6;
    border: solid 2px black;
    border-radius: 10px 10px 10px 10px ;
    -webkit-box-shadow: -5px 4px 20px 6px #000000; 
    box-shadow: -5px 4px 20px 6px black;
    h3{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    ol{
       padding: 0;
       margin-left: 23px;
    }
    textarea{
        border: solid black 3px;
        resize: none;
    }
.skill-1{
    margin-bottom: 16px;
    .title-skill{
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Yanone Kaffeesat', sans-serif;
    }
}

}