.stats {
    
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 16px;
    width: 200px;
    position: relative;
    top: 85px;
    left: -10px;
    h3{
      display: flex;
      align-items: center;
      gap:10px;
      img{
        margin-left: -24px;
      }
    }
  }
  
  .stats-name {
    font-family: 'Yanone Kafeesat',sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-self: center;
    
  }

  .stats-number input {
    border: solid black 4px;
    font-size: 28px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #f6f6f6;
    text-align: center;
    -webkit-box-shadow: -5px 4px 20px 6px #000000; 
    box-shadow: -5px 4px 20px 6px black;
    
  }
  