.stats {
    border: red solid 3px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 16px;
  }
  
  .stats-name {
    font-family: 'Yanone Kafeesat',sans-serif ;
    font-weight: 500;
  }
  