.talents
{   position: relative;
    left: 535px;
    width: 1165px;
    background-color: #f6f6f6;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -5px 4px 20px 6px #000000; 
    box-shadow: -5px 4px 20px 6px black;
    bottom: 1727px;
    textarea{
        border: black solid 3px;
        resize: none;
        margin-left: -24px;
        font-size: 24px;
    }
    h3{
        font-size: 20px;
        font-family: 'Yanone Kafeesat', sans-serif;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        gap: 50px;
    }

}