@import url("https://fonts.googleapis.com/css2?family=Pushster&family=Yanone+Kaffeesatz:wght@500&display=swap");
* {
  box-sizing: border-box;
}

.identity {
  width: 1200px;
  margin: auto;
  margin-bottom: 48px;
}

.identity-menu {
  display: flex;
  justify-content: space-between;
  background-color: #A3A4A6;
  padding: 16px;
  -webkit-box-shadow: -5px 4px 20px 6px #000000;
  box-shadow: -5px 4px 20px 6px #000000;
  border-radius: 10px 10px 0 0;
}

.title-h1 {
  font-size: 50px;
  font-family: "Pushster", sans-serif;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 16px;
}

.identity-specs {
  font-family: "Yanone Kaffeesat", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px;
  width: 200px;
  margin-left: 35px;
}

.stats-name {
  font-family: "Yanone Kafeesat", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.stats-number input {
  border: solid black 4px;
  font-size: 28px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #f6f6f6;
  text-align: center;
  -webkit-box-shadow: -5px 4px 20px 6px #000000;
  box-shadow: -5px 4px 20px 6px black;
}

.skills {
  position: relative;
  height: 940px;
  left: 262px;
  top: -850px;
  width: 460px;
  background-color: #f6f6f6;
  border: solid 2px black;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: -5px 4px 20px 6px #000000;
  box-shadow: -5px 4px 20px 6px black;
}
.skills ol {
  padding: 0;
  margin-left: 23px;
}
.skills textarea {
  border: solid black 3px;
}
.skills .skill-1 {
  margin-bottom: 16px;
}
.skills .skill-1 .title-skill {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Yanone Kaffeesat", sans-serif;
}

.ultime {
  width: 790px;
  height: 255px;
  background-color: #f6f6f6;
  border-radius: 10px 10px 10px 10px;
  border: solid black 2px;
  -webkit-box-shadow: -5px 4px 20px 6px #000000;
  box-shadow: -5px 4px 20px 6px black;
  position: relative;
  left: 750px;
  top: -1789px;
  padding: 16px;
}
.ultime .title-ultime {
  letter-spacing: 2px;
  font-size: 22px;
  margin-top: 0px;
  margin-left: 10px;
  font-family: "Yanone Kaffeesat", sans-serif;
}
.ultime textarea {
  border: black solid 3px;
}

.description {
  background-color: #f6f6f6;
  width: 790px;
  height: 655px;
  border: solid 2px black;
  border-radius: 10px 10px 10px;
  -webkit-box-shadow: -5px 4px 20px 6px #000000;
  box-shadow: -5px 4px 20px 6px black;
  position: relative;
  left: 750px;
  top: -1761px;
}
.description textarea {
  border: black solid 3px;
  margin-left: 14px;
  font-size: 22px;
}

.title-description {
  font-family: "Yanone Kaffeesat", sans-serif;
  letter-spacing: 2px;
  margin-left: 16px;
  font-weight: bold;
  font-size: 22px;
}

.talents {
  position: relative;
  left: 750px;
  width: 1350px;
  background-color: #f6f6f6;
  border: 3px solid black;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: -5px 4px 20px 6px #000000;
  box-shadow: -5px 4px 20px 6px black;
  bottom: 1727px;
}
.talents textarea {
  border: black solid 3px;
}
.talents h3 {
  font-size: 22px;
  font-family: "Yanone Kafeesat", sans-serif;
  letter-spacing: 2px;
}

/*# sourceMappingURL=style.css.map */
